.git
__pycache__/
.vscode/
.coverage
.ipynb_checkpoints/
htmlcov/
*.p
*.log
*egg*
*.pkl
*.job
easy_grid
output/
experiments/
*.joblib
*key*
bitbucket.txt
wenet-realtime.yaml
src/
target-install/
.env
